<section class="blog">
  <div class="container social-media-container">
    <ul class="blog-list">
      <li class="blog-list-li">
        <a class="blog-link">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                    /img/blog/blog-tab-1.webp 1x
                    /img/blog/blog-tab-1@2x.webp 2x
                  "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                    /img/blog/blog-mob-1.webp    1x
                    /img/blog/blog-1-mob@2x.webp 2x
                  "
            />
            <img
              src="/img/blog/blog-tab-1@2x.webp"
              alt="cat"
              class="blog-img"
            />
          </picture>
          <div class="blog-text-wrapper">
            <h2 class="blog-title">
              Найпопулярніші породи котів: який кіт підходить вам?
            </h2>
            <p class="blog-text">
              Вивчіть найпопулярніші породи котів і їхні особливості, щоб
              зробити інформований вибір, який підходить саме вам.
            </p>
          </div>
        </a>
      </li>
      <li class="blog-list-li">
        <a class="blog-link">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/img/blog/blog-tab-2.webp 1x ../img/blog/blog-tab-2@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                    /img/blog/blog-mob-2.webp    1x
                    /img/blog/blog-2-mob@2x.webp 2x
                  "
            />
            <img
              src="/img/blog/blog-tab-2@2x.webp"
              alt="cat"
              class="blog-img"
            />
          </picture>
          <div class="blog-text-wrapper">
            <h2 class="blog-title">
              Як піклуватися про вашого пухнастого друга: догляд за котом
            </h2>
            <p class="blog-text">
              Дізнайтеся про основні аспекти догляду за котом, включаючи
              годування, гігієну та взаємодію з вашим улюбленцем.
            </p>
          </div>
        </a>
      </li>
      <li class="blog-list-li">
        <a class="blog-link">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/img/blog/blog-tab-3.webp 1x
                    /img/blog/blog-tab-3@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                    /img/blog/blog-mob-3.webp    1x
                    /img/blog/blog-3-mob@2x.webp 2x
                  "
            />
            <img
              src="/img/blog/blog-tab-3@2x.webp"
              alt="cat"
              class="blog-img"
            />
          </picture>
          <div class="blog-text-wrapper">
            <h2 class="blog-title">
              Забавні факти про котів, які вас здивують
            </h2>
            <p class="blog-text">
              Веселі та цікаві факти про котів, які піднімуть вам настрій та
              розкажуть про їхні унікальність.
            </p>
          </div>
        </a>
      </li>
      <li class="blog-list-li">
        <a class="blog-link">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="/img/blog/blog-tab-4.webp 1x
                    /img/blog/blog-tab-4@2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                    /img/blog/blog-mob-4.webp    1x
                    /img/blog/blog-4-mob@2x.webp 2x
                  "
            />
            <img
              src="/img/blog/blog-tab-4@2x.webp"
              alt="cat"
              class="blog-img"
            />
          </picture>
          <div class="blog-text-wrapper">
            <h2 class="blog-title">
              Історія та культурна значущість котів в усьому світі
            </h2>
            <p class="blog-text">
              Вивчіть, як коти впливали на культури різних народів та дізнайтеся
              історію спільного життя людей і котів.
            </p>
          </div>
        </a>
      </li>
    </ul>

    <div class="social-media-wrapper">
      <h2 class="social-media-title">Соцмережі</h2>
      <ul class="social-media-list">
        <li class="social-media-li">
          <a class="s-m-link li-1" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-instagram"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
        <li class="social-media-li">
          <a class="s-m-link li-2" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-youtube"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
        <li class="social-media-li">
          <a class="s-m-link li-3" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-bi_github"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
        <li class="social-media-li">
          <a class="s-m-link li-4" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-facebook"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
        <li class="social-media-li">
          <a class="s-m-link li-5" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-tiktok"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
        <li class="social-media-li">
          <a class="s-m-link li-6" href="#">
            <div class="svg-wrapper">
              <svg class="s-m-svg" width="16" height="16">
                <use href="/img/svg/social-media-svg.svg#icon-bi_twitter"></use>
              </svg>
            </div>
            <p class="s-m-text">230.000</p>
          </a>
        </li>
      </ul>
    </div>

    <div class="video-wrapper">
      <h2 class="video-title">Відео з пухнастиками</h2>
      <picture>
        <source
          media="(min-width: 1440px )"
          srcset="/img/blog/video-desk.webp 1x, /img/blog/video-desk@2x.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="/img/blog/video-tab.webp 1x, /img/blog/video-tab@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/blog/video-mob.webp 1x, /img/blog/video-mob@2x.webp 2x"
        />
        <img src="/img/blog/video-tab@2x.webp" alt="cat video" />
      </picture>
    </div>
  </div>
</section>
