<section class="hero">
  <div class="container">
    <ul class="hero-list">
      <li class="hero-list-li">
        <a href="#" class="hero-link">
          <picture>
            <source
              media="(min-width: 1440px )"
              srcset="
                /img/hero/hero-desk-1.webp    1x,
                /img/hero/hero-desk-1@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero/hero-tab-1.webp    1x,
                /img/hero/hero-tab-1@2x.webp 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/hero/hero-mob-1.webp    1x,
                /img/hero/hero-mob-1@2x.webp 2x
              "
            />
            <img
              src="/img/hero/hero-tab-1@2x.webp"
              alt="cat"
              class="hero-img"
            />
          </picture>
          <div class="hero-text-wrapper">
            <h2 class="hero-text">
              Коти та їхні чудові навички: від полювання до загадкових
              здібностей
            </h2>
          </div>
        </a>
      </li>
      <li class="hero-list-li">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1440px )"
              srcset="
                /img/hero/hero-desk-2.webp    1x,
                /img/hero/hero-desk-2@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero/hero-tab-2.webp    1x,
                /img/hero/hero-tab-2@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/hero/hero-mob-2.webp    1x,
                /img/hero/hero-mob-2@2x.webp 2x
              "
            />
            <img src="/img/hero/hero-mob-2@2x.webp" alt="cat" />
          </picture>
          <div class="hero-text-wrapper">
            <h2 class="hero-text">
              Коти в літературі та мистецтві: від Егіпетських богів до сучасних
              майстрів
            </h2>
          </div>
        </a>
      </li>
      <li class="hero-list-li">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1440px )"
              srcset="
                /img/hero/hero-desk-3.webp    1x,
                /img/hero/hero-desk-3@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/hero/hero-tab-3.webp    1x,
                /img/hero/hero-tab-3@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/hero/hero-mob-3.webp    1x,
                /img/hero/hero-mob-3@2x.webp 2x
              "
            />
            <img src="/img/hero/hero-tab-3@2x.webp" alt="cat" />
          </picture>
          <div class="hero-text-wrapper">
            <h2 class="hero-text">
              Котячі породи для активних власників: як вибрати компаньйона
            </h2>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
