.logo-wrapper {
  padding: 8px 0;
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  column-gap: 8px;
}

.header-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  letter-spacing: 0.02em;
  color: #f07f2e;
}

@media only screen and (min-width: 768px) {
  .logo-wrapper {
    padding: 16px 0;
  }

  .header-wrapper {
    width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
}
